@model Beatleaderauthnet5.Models.Score

@{
    ViewData["Title"] = "Score Details";
}

<h1>Score Details</h1>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullCombo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullCombo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScoreID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
