@model Beatleaderauthnet5.Models.Song

@{
    ViewData["Title"] = "Song Details";
}

<h1>Song Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongBPM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongBPM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SongID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
